asn1crypto==0.23.0
attrs==17.3.0
bcrypt==3.1.4
certifi==2022.12.7
cffi==1.11.2
chardet==3.0.4
colorama==0.3.9
cryptography==2.1.4
enum34==1.1.6
funcsigs==1.0.2
idna==2.6
ipaddress==1.0.18
paramiko==2.4.0
pluggy==0.6.0
py==1.5.2
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
pytest==3.3.1
requests==2.18.4
selenium==3.8.0
six==1.11.0
urllib3==1.22
virtualenv==15.1.0
